defaults: &defaults
  cas_logout_url: https://auth-test.berkeley.edu/cas/logout
  cas_url: https://auth-test.berkeley.edu/cas
  log_level: INFO     # Valid log_level values are DEBUG, INFO, WARN, ERROR, FATAL, UNKNOWN
  secret_key_base: 64b0213a7b66a82c2a46c4f5f7b96ee1a100dd78dd976faa15fe318b7ed11a7f9736ac516527f16ca30d78afdee4f312b388a894e75059966be807de3e1053ac
  serve_static_files: true

development:
  <<: *defaults
  database:
    name: db/development.sqlite3
    adapter: sqlite3
    pool: 5
    timeout: 5000

test:
  <<: *defaults
  database:
    name: db/test.sqlite3
    adapter: sqlite3
    pool: 5
    timeout: 5000

production:
  <<: *defaults
  database:
    name: db/production.sqlite3
    adapter: sqlite3
    pool: 5
    timeout: 5000
